<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="TestNG Suite">
	<test name="simulator">
		<classes>
			<class name="simulator.Tests_Simulator" />
		</classes>
	</test>
	
	<test name="iOS">
		<classes>
			<class name="iOS.Tests_iOS" />
		</classes>
	</test>
	<test name="Android">
		<classes>
			<class name="android.Tests_Android" />
		</classes>
	</test>

</suite>